@model List<Lecture_2.Models.Student>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Dob</td>
    </tr>
    @foreach (var s in Model) { 
        <tr>
            <td>@s.Name</td>
            <td>@s.Id</td>
            <td>@s.Dob</td>
        </tr>
    }
</table>
